<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        html, body {
            font-family: 'Hahmlet', serif;
            font-family: 'Noto Sans KR', sans-serif;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
        .container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        input[type=button]{
            font-family: 'Hahmlet', serif;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 1em;
            width: 7em;
            height: 3em;
            text-align: center;
            border: none;
            border-radius: 20px;
        }
        input[type=button]:hover{
            font-family: 'Hahmlet', serif;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 1em;
            width: 7em;
            height: 3em;
            text-align: center;
            border-radius: 20px;
            border: none;
            box-shadow: 5px 5px 5px gray;
        }
    </style>
    <script>
        function howplaypage(){
            location.href = "/howplaypage";
        }
        function mainpage(){
            location.href = "/main";
        }
        function rankingpage(){
            location.href = "/ranking";
        }
    </script>
    <title>Tank Game</title>
</head>
<body>
    <div class="container">
        <div class="item">
            <h1><input type="button" value="게임방법" onclick="howplaypage()"></h1><br>
            <h1><input type="button" value="게임시작" onclick="mainpage()"></h1><br>
            <h1><input type="button" value="랭킹" onclick="rankingpage()"></h1><br>
        </div>
    </div>
</body>
</html>